<div class="m-32">
    <div class="flex justify-between border rounded-md border-gray-200 p-4">
        <div class="content-center">
            <span>Some user Name</span>
        </div>
        <div>
            <button class="btn btn-secondary">Leave</button>
        </div>
    </div>
    <div class="m-4"></div>
    <div class="flex border rounded-md p-4 gap-4">
        <div class="flex-6 border rounded-md p-4 h-100 overflow-auto">

        </div>
        <div class="flex-1 border rounded-md p-4 h-100 overflow-auto">

        </div>
    </div>
    <div class="m-4"></div>
    <div class="flex border rounded-md p-4 gap-4">
        <input type="text" class="flex-1 input" placeholder="Type here" />
        <button class="flex-none btn btn-primary">Send</button>
    </div>
</div>
